@using System
@using System.Collections
@using System.Collections.Generic
@using System.Linq
@using System.Net.Sockets
@using DreamRecorder.ToolBox.AspNet.CommonComponent
@using DreamRecorder.ToolBox.General
@using Microsoft.Extensions.Primitives
@addTagHelper *,DreamRecorder.Sayings.TagHelperProvider
@addTagHelper *,DreamRecorder.ToolBox.AspNet.CommonComponent

<saying/>

<div class="row">
	<div class="col-md-auto">
		<commonfooter/>
	</div>
</div>
