@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,DreamRecorder.Sayings.TagHelperProvider
@addTagHelper *,DreamRecorder.ToolBox.AspNet.CommonComponent

@using System
@using System.Collections
@using System.Collections.Generic
@using System.Linq
@using DreamRecorder.ToolBox.AspNet.CommonComponent.Models
@using DreamRecorder.ToolBox.AspNet.General
@model DreamRecorder.ToolBox.AspNet.CommonComponent.Models.PageTitleModel

<div class="row">
	<div class="col">
		<h2>@( Html.Raw ( Model.Title ) )</h2>
	</div>
	@if ( Model.Buttons is IEnumerable <IconButtonModel> buttons )
	{
		<div class="col-auto">
			<div class="text-end align-self-center">

				@foreach ( IconButtonModel buttonModel in buttons )
				{
					<a class="btn btn-@( buttonModel.BootstrapVariation.ToCssClassPostfix ( ) ) action-btn" asp-controller="@( buttonModel.Controller ?? Model.Controller )" asp-action="@( buttonModel.Action )" asp-route-guid="@( buttonModel.IncludeGuid ? Model.Guid : null )">
						<i class="bi bi-@( buttonModel.Icon )"></i>
					</a>
				}

			</div>
		</div>
	}
</div>