<script type="text/javascript">
	var _paq = window._paq = window._paq || [];
	_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
	_paq.push(["setCookieDomain", "*.dreamry.org"]);
	_paq.push(["setDomains", ["*.dreamry.org"]]);
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u = "https://t.nekomimiswitch.com/";
		_paq.push(['setTrackerUrl', u + 'matomo.php']);
		_paq.push(['setSiteId', '30']);
		var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
		g.type = 'text/javascript';
		g.async = true;
		g.src = u + 'matomo.js';
		s.parentNode.insertBefore(g, s);
	})();
</script>
<noscript>
	<p>
		<img src="https://t.nekomimiswitch.com/matomo.php?idsite=30&amp;rec=1" style="border: 0;" alt=""/>
	</p>
</noscript>
