@using System
@using System.Collections
@using System.Collections.Generic
@using System.Linq
@{
	ViewData [ "Title" ] = "Home Page";
	this.AddStyleSheet ( "Primer" , "markdown.min.css" );
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	<saying></saying>
</div>